@model T_API.UI.Models.ViewComponents.ChangePasswordViewComponentModel

    <form asp-action="ChangePassword" method="post" asp-antiforgery="true">
        <div class="form-group">
            <label asp-for="OldPassword">Current Password</label>
            <input asp-for="OldPassword" required="required" class="form-control" />
            <span asp-validation-for="OldPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword">New Password</label>
            <input asp-for="NewPassword" required="required" class="form-control" />
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword2">New Password(Validate)</label>
            <input asp-for="NewPassword2" required="required" class="form-control" />
            <span asp-validation-for="NewPassword2"></span>
        </div>
        <button type="submit" class="btn btn-primary"></button>
    </form>