@model T_API.UI.Models.Database.CreateServiceViewModel
@{
    ViewData["Title"] = "CreateService";
}

<script src="~/js/DatabaseCrud.js"></script>
<form asp-action="CreateService" asp-controller="Database" asp-antiforgery="true" method="post">
    <div class="form-group">
        <label asp-for="Username">Database Username</label>
        <input type="text" class="form-control" placeholder="Enter Username" asp-for="Username">
        <span class="text-danger" asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Database Password</label>
        <input type="password" class="form-control" placeholder="Enter Password" asp-for="Password">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="Database">Database Name</label>
        <input type="password" class="form-control" placeholder="Enter Database Name" asp-for="Database">
        <span class="text-danger" asp-validation-for="Database"></span>
    </div>
    <input asp-for="UserId" hidden="hidden" />


    
    <a class="btn  btn-success btn-sm">Add Table</a>

    <div class="row" id="tablesContainer" style="padding: 5px">
        <div class="col-md-4 form-group" id="tableContainer_1" style="padding: 10px">
            <label>Table Name</label>
            <div class="row">
                <div class="col-md-8">
                    <input class="form-control" name="Tables[0].TableName" />
                </div>
                <div class="col-md-4">
                    <i class="fa fa-address-book-o">Circle</i>
                </div>
            </div>
            

        </div>
    </div>


    <button type="reset" class="btn btn-danger">Discard</button>
    <button type="submit" class="btn btn-success">Submit</button>
</form>