@using T_API.Core.DTO.Table
@using T_API.UI.Extensions
@model T_API.UI.Models.Database.EditServiceViewModel
@{
    ViewData["Title"] = "EditService";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<script src="~/js/DatabaseCrud.js"></script>
<script src="~/js/DataTransferObjects.js"></script>



<div class="form-group">
    <label asp-for="Username">Database Username</label>
    <input type="text" class="form-control" placeholder="Enter Username" asp-for="Username" readonly="readonly">
    <span class="text-danger" asp-validation-for="Username"></span>
</div>

<div class="form-group">
    <label asp-for="DatabaseName">Database Name</label>
    <input type="text" class="form-control" placeholder="" asp-for="DatabaseName" readonly="readonly">
    <span class="text-danger" asp-validation-for="DatabaseName"></span>
</div>
<div class="form-group">
    <label asp-for="Server">Server</label>
    <input type="text" class="form-control" placeholder="" asp-for="Server" readonly="readonly">
    <span class="text-danger" asp-validation-for="Server"></span>
</div>
<div class="form-group">
    <label asp-for="Port">Port</label>
    <input type="text" class="form-control" placeholder="" asp-for="Port" readonly="readonly">
    <span class="text-danger" asp-validation-for="Port"></span>
</div>
<div class="form-group">
    <label asp-for="Provider">Provider</label>
    <input type="text" class="form-control" placeholder="" asp-for="Provider" readonly="readonly">
    <span class="text-danger" asp-validation-for="Provider"></span>
</div>
<div class="form-group">
    <label asp-for="StartDate">Start Date</label>
    <input type="datetime-local" class="form-control" placeholder="" asp-for="StartDate" readonly="readonly">
    <span class="text-danger" asp-validation-for="StartDate"></span>
</div>
<div class="form-group">
    <label asp-for="EndDate">End Date</label>
    <input type="datetime-local" class="form-control" placeholder="" asp-for="EndDate" readonly="readonly">
    <span class="text-danger" asp-validation-for="EndDate"></span>
</div>
<input asp-for="UserId" hidden="hidden" />
<input asp-for="DatabaseId" hidden="hidden" />

<div class="container-fluid">
    <hr />
    <h4>Tables</h4>
    <button onclick="getDatabase(@Model.DatabaseId)" class="btn btn-info btn-sm">Refresh Tables</button>
    <hr />
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab-tables" role="tablist" aria-orientation="vertical">
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent-tables">
            </div>
        </div>
    </div>
</div>



<!-- Add Column Modal -->
<div class="modal fade" id="addColumnModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Column</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addColumnForm">

                    <h5>Provider Info</h5>
                    <input id="providerInfo" placeholder="Provider Info" readonly="readonly" class="form-control" />
                    <hr />


                    <h5>Table Info</h5>
                    <input id="tableName" placeholder="Table Name" readonly="readonly" class="form-control" />
                    <hr />

                    <h5>Column Info</h5>
                    <div class="form-group">
                        <input id="columnName" placeholder="Column Name" class="form-control" required="required" />
                    </div>
                    <div class="form-group">
                        <select class="custom-select" required="required" id="columnTypesSelect">
                            <option selected disabled="disabled">Column Data Type</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="dataLength" placeholder="Data Length" type="number" class="form-control" required="required" />
                    </div>
                    <div class="form-group">
                        <input id="defaultValue" placeholder="Default Value" class="form-control" />
                    </div>
                    <hr />
                    <h5>Column Attributes</h5>
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-control" id="isPrimary">
                        <label class="custom-control-label" for="isPrimary">Is Primary</label>
                    </div>
                    <div class=" custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-control" id="isAutoInc">
                        <label class="custom-control-label" for="isAutoInc">Is Auto Increment</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-control" id="isUnique">
                        <label class="custom-control-label" for="isUnique">Is Unique</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-control" id="isNotNull">
                        <label class="custom-control-label" for="isNotNull">Is Not Null</label>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addColumnModalSubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Foreign Key Modal -->
<div class="modal fade" id="addForeignKeyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="foreignKeyModalTitle">Add Foreign Key</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addForeignKeyForm">
                    <h5>Info</h5>
                    <input class="form-control" id="foreignKeyName" placeholder="Foreign Key Name"
                           required="required"  />
                    <hr />

                    <h5>Source Information</h5>

                    <label for="foreignKeySourceTable">Source Table</label>
                    <input class="form-control" id="foreignKeySourceTable" placeholder="Source Table"
                           required="required" readonly="readonly" />

                    <br />
                    <div class="form-group">
                        <select class="custom-select" required="required" id="foreignKeySourceColumn">
                            <option selected disabled="disabled">Source Column</option>
                        </select>
                    </div>

                    <hr />
                    <h5>Target Information</h5>

                    <div class="form-group">
                        <select class="custom-select" required="required" id="foreignKeyTargetTable">
                            <option selected disabled="disabled">Target Table</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="custom-select" required="required" id="foreignKeyTargetColumn">
                            <option selected disabled="disabled">Target Column</option>
                        </select>
                    </div>

                    <hr />
                    <h5>Actions (To Be Added.)</h5>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addForeignKeySubmit">Save changes</button>
            </div>
        </div>
    </div>
</div>




@* TODO addColumn kısmı yapılacak. *@

<script type="text/javascript">
    $(document).ready(function () {
        init(parseInt(@Model.DatabaseId), '@Model.Provider');
    });


</script>
