@model T_API.UI.Models.Database.ServiceDetailViewModel
@{
    ViewData["Title"] = "ServiceDetail";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Database">Databases</a></li>
        <li class="breadcrumb-item active" aria-current="page">Service Detail</li>
    </ol>
</nav>
<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h5>Service Details</h5>
            <hr/>
           
        </div>
        
    </div>
</div>

