@model T_API.UI.Models.Account.ChangePasswordViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h5>@TempData["Message"]</h5>
            <form asp-action="ChangePassword" asp-controller="Account" method="post" asp-antiforgery="true">
                <div class="form-group">
                    <label asp-for="OldPassword">Current Password</label>
                    <input type="password" asp-for="OldPassword" required="required" class="form-control" />
                    <span asp-validation-for="OldPassword"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword">New Password</label>
                    <input type="password" asp-for="NewPassword" required="required" class="form-control" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword2">New Password(Validate)</label>
                    <input type="password" asp-for="NewPassword2" required="required" class="form-control" />
                    <span asp-validation-for="NewPassword2"></span>
                </div>
                <button type="reset" class="btn btn-danger">Discard</button>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
</div>

