
@{
    ViewData["Title"] = "Documentation";
}
<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Getting Started</h1>
                <p class="lead text-info">Attention! Free services cannot use storage, authorization, database functions and procedures..</p>
            </div>
        </div>
    </div>
</div>

<div class="row mx-auto">
    <div class="col-md-2  border-right ">
        <div class="col-md-12 ">
            <ul class="list-group">
                <li><a href="#gettingStartedSection">Getting Started</a></li>
                <li><a href="#creatingService">Creating Service</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10 mx-auto">
        <div class="col-md-12">
            <div id="aboutSection" class="row">
                <div class="col-md-12">
                    <h5 class="display-4">T-API</h5>
                    <hr />
                    T-API sayesinde ilişkisel MySql veritabanı oluşturabilir ve verilerinizi saklayabilirsiniz.Aynı zamanda T-API mobil uygulamalar için API desteği sağlar.
                </div>

            </div>
            <div id="gettingStarted" class="row">
                <div class="col-md-12">
                    <h5 class="display-4">Başlarken</h5>
                    <hr />
                    <p>T-API'yi kullanmaya bir paket seçerek başlayabilirsiniz (Paketler ve ücretlendirme anasayfada bulunabilir)</p>
                    <p>Paket seçtikten sonra sistem size otomatik olarak bir database oluşturur.</p>


                </div>

            </div>
            <div id="initalization" class="row">
                <div class="col-md-12">
                    <h5 class="display-4">Access Token</h5>
                    <hr />
                    <h4>Request Type</h4>
<pre>HttpPost</pre>
                    <h4>Request URL&nbsp;</h4>
<pre>api/RealDatabase/Login </pre>
                    <h4>Request Headers</h4>
                    <table style="width: 48%; margin-right: calc(52%);">
                        <tbody>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre><strong>Header Type</strong></pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre><strong>Header Value</strong></pre>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre>Content-Type</pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre>application/json</pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Request Body</h4>
<pre>{
&nbsp; &nbsp; &nbsp; "Username":"Sisteme kayıt olduğunuz kullanıcı adınız",
      "Password":"Sisteme kayıt olduğunuz şifreniz"
}</pre>
                    <h4>Response&nbsp;</h4>
                    <p>Response olarak işlem başarılı ise 200 (OK) result döndürülür ve bu veritabanı üzerinde api aracılığı ile işlem yapmanız için gereken Bearer Token ile Expire Date döndürecektir..Eğer işlem başarısız ise 400 (Bad Request) result döndürülür ve bu result içerisinde hata mesajını barındırır.</p>


                </div>

            </div>
            <div id="fetchingData" class="row">
                <div class="col-md-12">
                    <h5 class="display-4">Veri Çekme</h5>
                    <hr />
                    Sistem üzerindeki veritabanına veri çekmek için;
                    <h4>Request Type</h4>
<pre>HttpGet</pre>
                    <h4>Request URL&nbsp;</h4>
                    <p><pre>api/RealDatabase/Get/{ServiceId}/{TableName}&nbsp;</pre></p>
<pre>{ServiceId} : İşlem yapmak istediğiniz veritabanı numaranız.</pre>
<pre>{TableName} : İşlem yapmak istediğiniz tablo isminiz.</pre>
                    <h4>Request Headers</h4>
                    <table style="width: 48%; margin-right: calc(52%);">
                        <tbody>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre><strong>Header Type</strong></pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre><strong>Header Value</strong></pre>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre>Content-Type</pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre>text/plain</pre>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre>Authorization</pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre>Bearer $authToken</pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Response&nbsp;</h4>
                    <p>Response veritabanınızdaki sütunlardan oluşan JSON String olarak dönmektedir.</p>


                </div>

            </div>
            <div id="addingData" class="row">
                <div class="col-md-12">
                    <h5 class="display-4">Veri Ekleme</h5>
                    <hr />
                    Sistem üzerindeki veritabanına veri çekmek için;
                    <h4>Request Type</h4>
<pre>HttpPost</pre>
                    <h4>Request URL&nbsp;</h4>
                    <p><pre>api/RealDatabase/Add/{ServiceId}/{TableName}&nbsp;</pre></p>
<pre>{ServiceId} : İşlem yapmak istediğiniz veritabanı numaranız.</pre>
<pre>{TableName} : İşlem yapmak istediğiniz tablo isminiz.</pre>
                    <h4>Request Headers</h4>
                    <table style="width: 48%; margin-right: calc(52%);">
                        <tbody>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre><strong>Header Type</strong></pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre><strong>Header Value</strong></pre>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre>Content-Type</pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre>text/plain</pre>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre>Authorization</pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre>Bearer $authToken</pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Request Body</h4>
                    <p>Örneğin veritabanı tablonuzun sütunları sırasıyla UserId (PK,int), Username(nvarchar),Password(nvarchar) olsun.Bu tabloya veri ekleme işlemi için request body aşağıdaki gibi olmalıdır.</p>
<pre>{
&nbsp; &nbsp; &nbsp; "Username":"Kullanıcı Adı",
&nbsp; &nbsp; &nbsp; "Password":"Şifre"
}</pre>
                    <p>
                        Body içerisine yazılan sütun isimleri büyük küçük harf duyarlıdır.
                        <br>Eğer Primary Key Auto Increment ise body'de gönderilmesine gerek yok.
                        <br>İşlem yapılırken Not Null olarak belirtilen alanlar mutlaka doldurulmalıdır.
                    </p>
                    <h4>Response&nbsp;</h4>
                    <p>Response olarak işlem başarılı ise 200 (OK) result döndürülür.Eğer işlem başarısız ise 400 (Bad Request) result döndürülür ve bu result içerisinde hata mesajını barındırır.</p>


                </div>

            </div>
            <div id="updatingData" class="row">
                <div class="col-md-12">
                    <h5 class="display-4">Veri Güncelleme</h5>
                    <hr />
                    Sistem üzerindeki veritabanına veri çekmek için;
                    <h4>Request Type</h4>
<pre>HttpPut</pre>
                    <h4>Request URL&nbsp;</h4>
<pre>api/RealDatabase/Update/{ServiceId}/{TableName} </pre>
<pre>{ServiceId} : İşlem yapmak istediğiniz veritabanı numaranız.</pre>
<pre>{TableName} : İşlem yapmak istediğiniz tablo isminiz.</pre>
                    <h4>Request Headers</h4>
                    <table style="width: 48%; margin-right: calc(52%);">
                        <tbody>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre><strong>Header Type</strong></pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre><strong>Header Value</strong></pre>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre>Content-Type</pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre>text/plain</pre>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre>Authorization</pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre>Bearer $authToken</pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Request Body</h4>
                    <p>Örneğin veritabanı tablonuzun sütunları sırasıyla UserId (PK,int), Username(nvarchar),Password(nvarchar) olsun.Bu tabloya veri güncelleme işlemi için request body aşağıdaki gibi olmalıdır.</p>
<pre>{
      "UserId":"Güncellenmek istenilen Id",
&nbsp; &nbsp; &nbsp; "Username":"Kullanıcı Adı",
&nbsp; &nbsp; &nbsp; "Password":"Şifre"
}</pre>
                    <p>
                        Body içerisine yazılan sütun isimleri büyük küçük harf duyarlıdır.
                        <br>Eğer herhangi bir primary key sütun request de gönderilmezse işlem gerçekleştirilmez.
                        <br>İşlem yapılırken Not Null olarak belirtilen alanlar mutlaka doldurulmalıdır.
                    </p>
                    <h4>Response&nbsp;</h4>
                    <p>Response olarak işlem başarılı ise 200 (OK) result döndürülür.Eğer işlem başarısız ise 400 (Bad Request) result döndürülür ve bu result içerisinde hata mesajını barındırır.</p>

                </div>

            </div>
            <div id="deletingData" class="row">
                <div class="col-md-12">
                    <h5 class="display-4">Veri Silme</h5>
                    <hr />
                    Sistem üzerindeki veritabanına veri silmek için;
                    <h4>Request Type</h4>
<pre>HttpDelete</pre>
                    <h4>Request URL&nbsp;</h4>
<pre>api/RealDatabase/Delete/{ServiceId}/{TableName} </pre>
<pre>{ServiceId} : İşlem yapmak istediğiniz veritabanı numaranız.</pre>
<pre>{TableName} : İşlem yapmak istediğiniz tablo isminiz.</pre>
                    <h4>Request Headers</h4>
                    <table style="width: 48%; margin-right: calc(52%);">
                        <tbody>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre><strong>Header Type</strong></pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre><strong>Header Value</strong></pre>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre>Content-Type</pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre>text/plain</pre>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 34.7962%;">
                                    <pre>Authorization</pre>
                                </td>
                                <td style="width: 64.8903%;">
                                    <pre>Bearer $authToken</pre>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Request Body</h4>
                    <p>Örneğin veritabanı tablonuzun sütunları sırasıyla UserId (PK,int), Username(nvarchar),Password(nvarchar) olsun.Aşağıdaki gönderilen body'deki şartları sağlayan veri bulunup silenecektir.</p>
                    <p><pre>Örnek 1:</pre></p>
<pre>{
&nbsp; &nbsp; &nbsp; "Username":"Silinmek istenilen kullanıcının kullanıcı adı"
}
Örnek 2:</pre>
<pre>{
&nbsp; &nbsp; &nbsp; "Username":"Silinmek istenilen kullanıcının kullanıcı adı",
      "Password":"Silinmek istenilen kullanıcının şifresi"
}</pre>
<pre>Örnek 3:</pre>
<pre>{
&nbsp; &nbsp; &nbsp; "UserId":Silinmek istenilen kullanıcının idsi
}</pre>
<pre></pre>
                    <p>Body içerisine yazılan sütun isimleri büyük küçük harf duyarlıdır.</p>
                    <h4>Response&nbsp;</h4>
                    <p>Response olarak işlem başarılı ise 200 (OK) result döndürülür.Eğer işlem başarısız ise 400 (Bad Request) result döndürülür ve bu result içerisinde hata mesajını barındırır.</p>
                </div>

            </div>

        </div>

    </div>
</div>