
@{
    ViewData["Title"] = "Documentation";
}
<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Getting Started</h1>
                <p class="lead text-info">Attention! Free services cannot use storage, authorization, database functions and procedures..</p>
            </div>
        </div>
    </div>
</div>

<div class="row mx-auto">
    <div class="col-md-2  border-right " >
        <div class="col-md-12 ">
            <ul class="list-group">
                <li><a href="#gettingStartedSection">Getting Started</a></li>
                <li><a href="#creatingService">Creating Service</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10 mx-auto">
        <div class="col-md-12">
            <div id="gettingStartedSection" class="row">
                <div class="col-md-12">
                    <h5 class="display-4">Getting Started</h5>
                    <hr />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum sagittis vestibulum. Suspendisse potenti. Cras lobortis diam a eleifend pellentesque. In eget augue a lectus vulputate laoreet. Pellentesque quis justo bibendum, mattis dolor in, pulvinar orci. Aenean ullamcorper, purus eu vestibulum viverra, leo arcu egestas justo, non semper dolor lacus in eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis tempor dui, eget ultrices nisl mattis sit amet. Sed nec risus pulvinar, luctus risus ac, cursus turpis. Cras id justo diam. Donec quis suscipit quam.

                    Donec elementum ante libero, sed tincidunt ligula viverra dignissim. Curabitur hendrerit suscipit turpis eu lacinia. Proin varius mollis nisi, at fringilla lorem commodo ac. Nunc lorem sapien, commodo sit amet tempor eget, congue at elit. Suspendisse venenatis semper risus. Suspendisse et congue lorem. Mauris cursus sodales leo vel tincidunt. Mauris ultricies dui sed lacus gravida sagittis. Vestibulum ultricies, ex sed pellentesque faucibus, ligula lorem vulputate turpis, quis condimentum dolor erat et nisi. In mattis nunc eget ipsum feugiat, eu condimentum ex vulputate. Donec non libero ultricies, sagittis urna id, ultrices nibh. Aliquam in urna pharetra, venenatis sapien sed, vehicula enim. Donec fringilla et velit ut euismod.

                    Fusce lacinia, enim sed gravida mattis, eros nibh imperdiet mauris, non sodales massa lacus quis ligula. Morbi et luctus ex. Phasellus sed dui metus. Nunc ultrices molestie tortor in cursus. Vivamus blandit mauris ut diam sagittis accumsan. Nullam id magna vitae erat sagittis efficitur. Donec porta, nunc sit amet euismod pharetra, neque tellus ullamcorper elit, ac aliquam magna risus eget ante. Aenean eu eros a lacus rutrum molestie. Donec ac molestie est. Quisque malesuada leo ut tristique tempus. Ut venenatis facilisis libero, vitae consectetur mauris volutpat a. Maecenas at nisl ligula. In eros tellus, gravida et diam a, hendrerit dapibus risus. Nam ultrices erat non leo aliquam finibus. Pellentesque nec dictum neque.
                </div>

            </div>
            <div id="creatingService" class="row">
                <div class="col-md-12">
                    <h5 class="display-4">Creating Service</h5>
                    <hr />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum sagittis vestibulum. Suspendisse potenti. Cras lobortis diam a eleifend pellentesque. In eget augue a lectus vulputate laoreet. Pellentesque quis justo bibendum, mattis dolor in, pulvinar orci. Aenean ullamcorper, purus eu vestibulum viverra, leo arcu egestas justo, non semper dolor lacus in eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis tempor dui, eget ultrices nisl mattis sit amet. Sed nec risus pulvinar, luctus risus ac, cursus turpis. Cras id justo diam. Donec quis suscipit quam.

                    Donec elementum ante libero, sed tincidunt ligula viverra dignissim. Curabitur hendrerit suscipit turpis eu lacinia. Proin varius mollis nisi, at fringilla lorem commodo ac. Nunc lorem sapien, commodo sit amet tempor eget, congue at elit. Suspendisse venenatis semper risus. Suspendisse et congue lorem. Mauris cursus sodales leo vel tincidunt. Mauris ultricies dui sed lacus gravida sagittis. Vestibulum ultricies, ex sed pellentesque faucibus, ligula lorem vulputate turpis, quis condimentum dolor erat et nisi. In mattis nunc eget ipsum feugiat, eu condimentum ex vulputate. Donec non libero ultricies, sagittis urna id, ultrices nibh. Aliquam in urna pharetra, venenatis sapien sed, vehicula enim. Donec fringilla et velit ut euismod.

                    Fusce lacinia, enim sed gravida mattis, eros nibh imperdiet mauris, non sodales massa lacus quis ligula. Morbi et luctus ex. Phasellus sed dui metus. Nunc ultrices molestie tortor in cursus. Vivamus blandit mauris ut diam sagittis accumsan. Nullam id magna vitae erat sagittis efficitur. Donec porta, nunc sit amet euismod pharetra, neque tellus ullamcorper elit, ac aliquam magna risus eget ante. Aenean eu eros a lacus rutrum molestie. Donec ac molestie est. Quisque malesuada leo ut tristique tempus. Ut venenatis facilisis libero, vitae consectetur mauris volutpat a. Maecenas at nisl ligula. In eros tellus, gravida et diam a, hendrerit dapibus risus. Nam ultrices erat non leo aliquam finibus. Pellentesque nec dictum neque.
                </div>

            </div>


        </div>
        
    </div>
</div>