@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">T-API Version 0.1 Beta</h1>
            <p class="lead">Welcome To T-API. For Now,T-API has an one provider support which is MySql.You can create starter pack for a month.</p>
        </div>
    </div>
    <div class="row">

    </div>
</div>
